.logo{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

button{
    height: 50px;
    width: 50px;
    background-color: white;
    border: none;
}
button .colour{
    color: #c5c2c2;
    display: block;
}
.pcontent{
    display: flex;
    margin-top: 10%;
    margin-left: 25px;
}
.profile{
    background-color: #fbf9f9;
}
#select{
    background-color: blue;
    color: white;
}
select{
    border: none;
    border-radius: 15px;
}

.middle{
    display: flex;
    margin-top: 20px;
}
.middle div{
    width: 160px;
    margin-left: 20px;
}
.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-left: 20px;
  
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(33, 209, 171) 78%, rgb(163, 230, 224) 0);    
  }
  #progress{
    display: flex;
  }
  

/* retier section */
.retier{
    margin-top: 40px;
    border-radius: 12px;
    background-color: #fbf9f9;
    padding: 35px;
}
.retierbtn{
    width: 280px;
    background-color: blue;
    text-align: center;
    color: white;
    font-weight: 400;
    border-radius: 10px;
}
.foot{
    margin-top: 20px;
    display: flex;
}

.black{
    color:black;
    font-weight: bold;
    font-size: 20px;
}

.color {
    color: rgb(150, 146, 146);
}

.hr {
    color:rgb(112, 107, 107);
    margin-right: 60px;    
    border-width: 2px;
}

.hrc {
    color:rgb(1, 1, 18);
    margin-right: 60px;    
    border-width: 2px;
}

.hrw {
    color:rgb(112, 107, 107);
    margin-right: 10px;    
    border-width: 2px;
}
  
   @media (max-width: 768px) {
    .col-1 {
      display: none;
    }
  }